# Dependencies
node_modules/

# Environment Variables (Secrets)
#.env(private, add for hackathon)
*.key

# Mac System Files
.DS_Store

# Build Outputs (Frontend & Backend)
dist/
build/

# Move/IOTA Build Files (Important)
build/
*.lock
