# Dependencies
node_modules/

# Environment Variables (Secrets)
.env
.env.*

# Mac System Files
.DS_Store

# Build Outputs (Frontend & Backend)
dist/
build/

# Move/IOTA Build Files (Important)
.move/
build/
*.lock
